@use "@picocss/pico/scss/_variables.scss" as pico-variables;

article.instruments-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: calc(var(--spacing) * 1.5);

    :where(.instruments-panel-filter, .instruments-panel-sort) {
        display: flex;
        align-items: center;
        gap: 15px;
        > span {
            min-width: 75px;
        }

        details[role="list"] {
            margin-bottom: 0;
            summary {
                height: 40px;
                padding-block: 0;
                padding-inline: 20px 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            ul {
                max-height: 400px;
                max-width: 350px;
                overflow: hidden auto;
                min-width: 280px;
                label > span {
                    white-space: initial;
                }
                input[id|="filter-input"] {
                    min-width: 300px;
                    height: 40px;
                    margin-block: 5px;
                }
                li.filters-save-button {
                    background: var(--dropdown-background-color);
                    position: sticky;
                    bottom: 0;
                    margin-bottom: 0;
                    > button {
                        padding: 5px;
                        margin-block: 5px;
                    }
                }
            }

            code {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-block: 15px;
                pre {
                    margin-bottom: 0;
                }
                img {
                    cursor: pointer;
                }
            }
        }
    }

    .instruments-panel-filter {
        details > ul {
            right: unset;
        }
    }

    .instruments-panel-sort {
        details > ul {
            left: unset;
        }
    }

    @media screen and (max-width: map-get(pico-variables.$breakpoints, md)) {
        gap: 35px;
        flex-wrap: wrap;
        padding-right: calc(var(--spacing) * 1.5);
        padding-block: calc(var(--block-spacing-horizontal) * 1.5) calc(var(--block-spacing-horizontal) * 2);

        :where(.instruments-panel-filter, .instruments-panel-sort) {
            width: 100%;
            display: grid;
            details[role="list"] {
                width: 100%;
                ul {
                    max-width: 100%;
                    min-width: 100%;
                }
                li > input[id|="filter-input"] {
                    min-width: unset;
                    width: 100%;
                }
            }
        }

        .instruments-panel-filter details > ul {
            right: 0;
        }

        .instruments-panel-sort details > ul {
            left: 0;
        }
    }
}
