
@font-face {
    //font-family: "Comfortaa";
    //src: url("../../public/Comfortaa-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
}

p, span, a, ul, ol, h1, h2, h3, h4, h5, h6,
label, input, textarea, div, button, th, tr, td {
    //font-family: "Comfortaa", serif;
}

a, button {
    cursor: pointer;
}

@import "base";
